body {
  font-family: Arial;
  padding: 20px;
}

.container {
  display: flex;
  margin-top: 20px;
}

#skills span {
  background: #e0f2f1;
  padding: 6px 10px;
  margin: 5px;
  border-radius: 15px;
  display: inline-block;
}
